.text-bold {
  font-weight: bold;
}
.clt {
  color: purple
}
.alocado {
  color: green;
}
.pj {
  color: red;
}
.junior {
  color: yellow;
}
.pleno {
  color: pink;
}
.senior {
  color: blue;
}
.estagio {
  color: brown;
}